<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ui-numeric by choroshin</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ui-numeric</h1>
        <p>AngularJS directive for enhancing a text input for entering numeric values, with up/down buttons and arrow key handling.</p>

        <p class="view"><a href="https://github.com/choroshin/ui-numeric">View the Project on GitHub <small>choroshin/ui-numeric</small></a></p>


        <ul>
          <li><a href="https://github.com/choroshin/ui-numeric/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/choroshin/ui-numeric/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/choroshin/ui-numeric">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>AngularJS numeric widget directive.</h3>

<p>Uses jQuery <a href="http://jqueryui.com/spinner/">Spinner</a> widget.</p>

<h2>Installation</h2>
<p>add the numeric module to your Angular App.</p>
<pre><code>
angular.module('app', ['numeric']);
</code></pre>
<h2>Usage</h2>


<h3><a name="default" class="anchor" href="#default"><span class="octicon octicon-link"></span></a>Default:</h3>

<p>numeric control Value: {{numericValue}}</p>
<pre><code>
&lt;div numeric="" ng-model="numericValue"&gt;&lt;/div&gt;
</code></pre>

<div numeric=""  ng-model="numericValue"></div>

</br>
<h3><a name="default" class="anchor" href="#default"><span class="octicon octicon-link"></span></a>Min, Max and Step Properties:</h3>


<pre><code>
&lt;div numeric="{min:1,max:10,step:2}"  ng-model="numeric"&gt;&lt;/div&gt;
</code></pre>

<div numeric="{min:1,max:10,step:2}"  ng-model="numeric_default"></div>

</br>
<h3><a name="default" class="anchor" href="#default"><span class="octicon octicon-link"></span></a>This numeric control has event listeners attached to it, assigned by defining the listeners in the option passed to the numeric control. For example in controller:</h3>


<pre><code>
 $scope.numeric_options = {
		start: function (event, ui) { console.log('numeric start'); },
    stop: function (event, ui) { console.log('numeric stop'); }
 }
</code></pre>
<div ng-controller="ctrl">
   <div numeric="numeric_options"  ng-model="numeric_event_demo"></div>
   <button ng-click="events=[]">Clear</button>
   <div ng-repeat="event in events track by $index">{{event}}</div>
</div>
 


      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/choroshin">choroshin</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
           <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
           <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
           <script src="javascripts/app.js"></script>
           <script src="https://rawgit.com/choroshin/ui-numeric/master/src/numeric.js"></script>
           <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
